<%= form_for @property do |f| %>
  <div class='form-group'>
    <%= f.label :name %>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, :class => 'form-control', :rows => 10 %>
  </div>
  <div class="form-group">
    <%= f.label :price %>
    <%= f.text_field :price, :class => 'form-control' %>
  </div>
  <div id='photo_upload'>
    <%= f.file_field :photo %>
  </div>
  <div class="form-group">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
