<!DOCTYPE html>
<html>
<head>
  <title>AirbnbEh</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <ul class="nav navbar-nav">
        <%= link_to image_tag('moose.jpg', :class => 'logo navbar-left'), "/" %>
        <li><%= link_to 'Airbnb eh?', root_path %></li>
        <% if user_signed_in? %>
          <li><a>Logged in as <strong><%= current_user.email %></strong></a></li>
            <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %> </li>
          <% else %>
          <li><%= link_to "Register", new_user_registration_path %></li>
            <li><%= link_to "Sign in", new_user_session_path %> </li>
          <% end %>

          <% if user_signed_in? %>
          <li><%= link_to 'Add property', new_property_path %></li>
        <% end %>
      </ul>
    </nav>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

  </div>
</body>
</html>
